

.demo-space-x {
    margin-top: 1rem !important;
    margin-right: 1rem !important;
}

.react-datepicker__triangle{
    display: none!important;
}
.react-datepicker{
    border: 0px !important;

}
.react-datepicker__current-month{
    margin-block: 10px;
}
.react-datepicker__month-container{
    box-shadow: 0px 3px 9px 0px rgba(47, 43, 61, 0.15);
}
.react-datepicker__header {
    background-color: white!important;
    border: 0px;
}
.react-datepicker__navigation{
    background-color: rgba(47, 43, 61, 0.06);
    border-radius: 25px;
    height: 28px;
    width: 28px;
}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{
    border-color: black;
    border-width: 2px 2px 0 0;
    height: 8px;
    width: 8px;

}
.react-datepicker__month{
    font-size: 15px;
}
.react-datepicker__day-name{
    margin: 0;
    line-height: 2;
    font-weight: 600;
    width: 2.125rem;
    letter-spacing: 0.4px;
    color: rgba(47, 43, 61, 0.78);
    font-size: 0.9rem;
    opacity: 0.8;
}
