.css-1l7cg7o-MuiButtonBase-root-MuiRadio-root.Mui-checked{
    color: #7367F0!important;

}
.css-e6li8g{
    border-color: #7367F0!important;
}

.css-10gz94o-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-10gz94o-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
    color: #7367F0!important;
}

.css-k7296s svg{
    color: #7367F0 !important;
}